/* regole generali di pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole container generale */
.container {
  width: 90%;
  height: 100vh;
  background-color: rgb(226, 224, 224);
  position: relative;
  margin: 2% 5%;
}

/* regole dei buttons */

.button {
  width: 90%;
  height: 31%;
  border: 1px solid black;
  margin: 1% 5%;
}

/* regole delle immagini */

.img {
  height: 100%;
  width: 100%;



}
